* {
  box-sizing: border-box;
}



body {
  margin: 0;
  padding: 0;
  background: rgb(40, 40, 40);
}

.modal {
  z-index: 3000;
}

.modal-body {
  height: 500px;
  overflow-y: auto;
}

.highlightBorder {
  border: 4px solid transparent !important;
  animation-name: pulseBorderColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


.non-active {
  pointer-events: none;
}

.active {
  pointer-events: all;
}

.highlight-tag {
  animation-name: pulseTag;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  border-radius: 4px;
}

.active-feedback {
  animation: pulseFeedback;
  animation-duration: 1s;
  animation-iteration-count: 1;
  border-radius: 6px;
}

.highlightFeedback {
  animation: pulseFeedbackContainer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.highlightFeedbackWrong {
  animation: pulseFeedbackContainerWrong;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.current-selection {
  transition: all 1s;
  background-color: #f8936d !important;
}

.activeNode {
  animation: pulseActiveNode;
  animation-duration: 2s;
  animation-iteration-count: 1;
  border-radius: 5px;
}

.activeButton {
  animation: pulseButtonColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Animations */

@keyframes pulseButtonColour {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #19a780;
  }

  100% {
    background-color: transparent;
  }

}

@keyframes pulseBorderColour {
  0% {
    border-color: white;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: white;
  }

}

@keyframes pulseTag {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #f8936d;
  }

  100% {
    background-color: transparent;
  }

}

@keyframes pulseFeedback {
  0% {
    height: 0px;
  }

  50% {
    height: 5px;
  }

  100% {
    height: 0px;
  }

}

@keyframes pulseFeedbackContainer {

  0% {
    background-color: #272727;
  }

  25% {
    background-color: #00a680;
  }

  50% {
    background-color: #272727;
  }

  75% {
    background-color: #00a680;
  }

  100% {
    background-color: #272727;
  }

}

@keyframes pulseFeedbackContainerWrong {

  0% {
    background-color: #272727;
  }

  25% {
    background-color: #b33748;
  }

  50% {
    background-color: #272727;
  }

  75% {
    background-color: #b33748;
  }

  100% {
    background-color: #272727;
  }

}

@keyframes pulseActiveNode {

  0% {
    background: transparent;
  }

  25% {
    background: #00a680;
  }

  50% {
    background: transparent;
  }

  75% {
    background: #00a680;
  }

  100% {
    background: transparent;
  }

}





#html-stream-img {
  display: block;
  width: 280px;
  height: 200px;
  margin: auto;
  border-radius: 8px;
}

#html-tag-img {
  display: block;
  width: 340px;
  height: 125px;
  margin: auto;
  border-radius: 8px;
}

#buttons-img {
  display: block;
  width: 250px;
  height: 90px;
  margin: auto;
  border-radius: 8px;
}

#submit-img {
  width: 64px;
  height: 34px;
  border-radius: 8px;
}

#heading-img {
  position: relative;
  width: 200px;
}

#book-img {
  position: relative;
  width: 160px;
  height: 50px;
}

#guide-button {
  display: none;
}

.answer {
  display: none;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  width: 100px;
  height: 50px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
  margin-left: 25px;
}

.answer:hover {
  background: #00a680;
}