@font-face {
  font-family: 'myFont';
  src: url('../fonts/font.ttf');
}

#introContainer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(40, 40, 40);
  width: 90%;
  height: 740px;
  text-align: center;
  display: block;
}

#introImage {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 400px;
}

#introImageActive {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 400px;
  display: none;
}

#menuTitle {
  position: relative;
  top: 500px;
  margin: 0;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.8);
}

hr {
  position: relative;
  top: 500px;
  width: 550px;
  background: white;
}

#begin {
  position: relative;
  top: 530px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  width: 200px;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  transition: all 2s;
}

#begin:hover {
  width: 250px;
  height: 60px;
  background: #00a680;
}

@media only screen and (max-width: 1200px) {
  #introImage {
    position: absolute;
    margin: auto;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 250px;
  }

  #introImageActive {
    position: absolute;
    margin: auto;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 250px;
    display: none;
  }

  #menuTitle {
    position: relative;
    top: 500px;
    margin: 0;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
  }

  hr {
    position: relative;
    top: 500px;
    width: 550px;
    background: white;
  }

  #begin {
    position: relative;
    top: 530px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    width: 200px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background: rgb(40, 40, 40);
    border: 1px solid white;
    transition: all 2s;
  }

  #begin:hover {
    width: 250px;
    height: 60px;
    background: #00a680;
  }
}