#main-container-grid {
  position: relative;
  background: rgb(40, 40, 40);
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  max-width: 2000px;
  height: 740px;
  display: none;
  grid-template-areas:
    'header header header header header header'
    'html html html tag tag tag'
    'stack-display stack-display stack-display stack-display stack-display stack-display'
    'feedback feedback feedback feedback feedback feedback';
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#main-header-grid {
  grid-area: header;
  height: 50px;
  background: rgb(40, 40, 40);
  position: relative;
}

#header-title-container {
  position: absolute;
  left: 10px;
}

#header-title {
  color: #f3f3f3;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 38px;
}

#help {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  width: 100px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  transition: all 1s;
  cursor: pointer;
}

#help:hover {
  background: #00a680;
}

#reset-button {
  position: absolute;
  right: 281px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  width: 160px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

#reset-button:hover {
  transition: all 1s;
  background: #00a680;
}

#random-button {
  position: absolute;
  right: 115px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-size: 24px;
  width: 160px;
  height: 40px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}

#random-button:hover {
  transition: all 1s;
  background: #00a680;
}

#html-grid {
  grid-area: html;
  height: 520px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-right-radius: 0;
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 0;
  background: rgb(39, 39, 39);
  position: relative;
}

#html-grid-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 520px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#html-title-container {
  width: 50%;
  height: 42px;
  background: rgb(39, 39, 39);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 15px;
  color: white;
  border-radius: 8px;
}

#html-title {
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 34px;
}

#html-container {
  position: absolute;
  top: 62px;
  width: 90%;
  height: 85%;
  background: white;
  margin: auto;
  border: 10px solid rgb(23, 167, 128);
  left: 0;
  right: 0;
  border-radius: 6px;
}

#html-type {
  position: relative;
  top: -5px;
  left: -1px;
  margin: 0px;
  width: 101%;
  height: 66px;
  background: #17a780;
  font-size: 30px;
  font-weight: bold;
}

#html-text {
  padding: 10px;
  font-size: 20px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  line-height: 35px;
  background: white;
  position: relative;
  top: -20px;
}

#tag-grid {
  grid-area: tag;
  height: 520px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  background: rgb(39, 39, 39);
  position: relative;
}

#tag-grid-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 520px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#stack-tag-title-container {
  width: 50%;
  height: 42px;
  background: rgb(39, 39, 39);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 15px;
  color: white;
  border-radius: 8px;
}

#stack-tag-title {
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 34px;
}

#stack-tag-container {
  position: absolute;
  top: 62px;
  width: 90%;
  height: 85%;
  background: #17a780;
  margin: auto;
  border: 10px solid rgb(24, 167, 128);
  left: 0;
  right: 0;
  border-radius: 6px;
}

#stack-tag-list-container {
  top: 10px;
  position: relative;
  background: #272727;
  height: 184px;
  width: 95%;
  margin: auto;
  border-radius: 10px;
}

#stack-tag-list-container-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 184px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#stack-tag {
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 475px;
  position: relative;
}

.tag-item {
  display: inline-block;
  vertical-align: top;
  width: 115px;
  height: 50px;
  background: #ffffff;
  border: 1px solid black;
  margin-top: 8px;
  border-radius: 8px;
}

.tag-item:hover {
  transition: all 1s;
  background: #f8936d;
  cursor: pointer;
}

.tag-item-text {
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 28px;
  position: relative;
  top: 3px;
}

#stack-buttons-container {
  position: relative;
  top: 20px;
  width: 95%;
  height: 205px;
  background: #262626;
  margin: auto;
  border-radius: 8px;
}

#stack-buttons-container-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 184px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#stack-buttons {
  position: relative;
  top: 18px;
  width: 100%;
  height: 140px;
  margin: auto;
  text-align: center;
}

.custom-button {
  position: relative;
  top: 42px;
  display: inline-block;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 27px;
  width: 100px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background: rgb(40, 40, 40);
  border: 1px solid white;
  margin: auto;
  margin-bottom: 14px;
}

#push-button {
  left: 1;
  position: absolute;
  top: 0px;
  left: 46px;
  width: 190px;
}

#push-button:hover {
  transition: all 1s;
  background: #00a680;
}

#pop-button {
  left: 1;
  position: absolute;
  top: 0px;
  right: 46px;
  width: 190px;
}

#pop-button:hover {
  transition: all 1s;
  background: #00a680;
}

#top-button {
  left: 1;
  position: absolute;
  top: 61px;
  left: 46px;
  width: 190px;
}

#top-button:hover {
  transition: all 1s;
  background: #00a680;
}

#empty-button {
  left: 1;
  position: absolute;
  top: 61px;
  right: 46px;
  width: 190px;
}

#empty-button:hover {
  transition: all 1s;
  background: #00a680;
}

#stack-feedback-container {
  position: relative;
  top: 0px;
  width: 100%;
  height: 67px;
  margin: auto;
  text-align: center;
}

#stack-feedback {
  position: relative;
  top: 14px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 26px;
  color: white;
}

#hr-feed {
  position: relative;
  top: 0;
  background: white;
  width: 90%;
}

#stack-display-grid {
  grid-area: stack-display;
  height: 80px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: none;
  background: rgb(37, 37, 37);
  position: relative;
  text-align: center;
}

#stack-display-grid-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  border-radius: 8px;
  background: rgba(49, 49, 49, 0.5);
}

#stack-container {
  width: 100%;
  height: 76px;
  background: rgb(38, 38, 38);
}

#stack-display-text {
  color: white;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 38px;
  position: relative;
  top: 12px;
  height: 52px;
  width: 500px;
  margin: auto;
  background: #17a780;
  border-radius: 6px;
}

#stack-list {
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 0;
  top: 8px;
  z-index: 200;
}

.top-node {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 60px;
  background-image: url(../images/stack_top.gif);
  background-size: 120px 60px;
  margin-right: 15px;
  margin-left: 15px;
  background-repeat: no-repeat;
}

.inner-node {
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: 13px;
  font-size: 24px;
}

.not-visible {
  color: transparent;
}



.stack-node {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  background-image: url(../images/stack_node.gif);
  background-size: 60px 60px;
  margin-right: 15px;
  margin-left: 15px;
  background-repeat: no-repeat;
}

.stack-val {
  display: block;
  width: 120px;
  height: 51px;
  background: #282828;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  position: relative;
  top: 5px;
  right: 130px;
  text-align: center;
  align-content: center;
  border-radius: 9px;
  color: white;
  text-transform: uppercase;
  border: 2px solid #19a780;
}

#main-feedback-grid {
  grid-area: feedback;
  height: 100px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgb(49, 49, 49);
  position: relative;
}

#information {
  text-align: center;
  height: 100%;
  background: #212121;
}

.button-next {
  -webkit-appearance: none;
  border: 1px solid white;
  background: transparent;
  position: relative;
  bottom: 7px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  animation-name: pulseButtonColour;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button-skip {
  -webkit-appearance: none;
  border: 1px solid white;
  background: transparent;
  position: relative;
  bottom: 7px;
  margin-left: 20px;
  width: 100px;
  height: 48px;
  font-size: 28px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

#suggestion {
  display: inline-block;
  font-size: 42px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;
  position: relative;
  top: 14px;
}

#render-container {
  display: none;
  position: absolute;
  margin: auto;
  width: 90%;
  height: 604px;
  background: #202020;
  top: 80px;
  left: 0;
  right: 0;
  max-width: 2000px;
  border-radius: 6px;
  border: 4px solid #989898;
  z-index: 2000;
}

#render-inner-container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  right: 0;
  height: 550px;
  background: #1aa27c;
  border-radius: 8px;
}

#render-title-container {
  width: 100%;
  height: 60px;
  text-align: center;
}

#render-title-text {
  font-size: 45px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;
}

#render-text-container {
  width: 500px;
  height: 450px;
  background: white;
  margin: auto;
  border-radius: 8px;
  top: 10px;
  position: relative;
}

#render-feedback {
  padding: 10px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}

#render-image-sad {
  display: none;
  background-image: url(../images/sad_face.gif);
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  background-repeat: none;
  margin: auto;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}

#render-image-happy {
  display: none;
  background-image: url(../images/happy_face.gif);
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  background-repeat: none;
  margin: auto;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}

#render-text {
  display: none;
  padding: 10px;
  font-family: myFont, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  background: #fffbcc;
  border-radius: 6px;
  width: 95%;
  margin: auto;
}

@media only screen and (min-width: 1330px) and (max-width:1500px) {
  .button-next {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 7px;
    margin-left: 20px;
    width: 100px;
    height: 48px;
    font-size: 28px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    animation-name: pulseButtonColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


  .button-skip {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 7px;
    margin-left: 20px;
    width: 100px;
    height: 48px;
    font-size: 28px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  #suggestion {
    display: inline-block;
    font-size: 30px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    position: relative;
    top: 30px;
  }

  .answer {
    display: none;
    background: none;
    border: 1px solid white;
    border-radius: 7px;
    color: rgba(255, 255, 255);
    font-size: 24px;
    width: 80px;
    height: 40px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    transition: all 1s;
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    top: 28px;
  }

}


@media only screen and (max-width: 1330px) {
  #main-container-grid {
    position: relative;
    background: rgb(40, 40, 40);
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 2000px;
    height: 740px;
    display: none;
    grid-template-areas:
      'header header header header header header'
      'html html html html html html'
      'tag tag tag tag tag tag'
      'stack-display stack-display stack-display stack-display stack-display stack-display'
      'feedback feedback feedback feedback feedback feedback';
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  #html-grid {
    grid-area: html;
    height: 360px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(39, 39, 39);
    position: relative;
  }

  #html-grid-transparent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 360px;
    border-radius: 8px;
    background: rgba(49, 49, 49, 0.5);
  }

  #html-container {
    height: 76%;
    top: 54px;
  }

  #html-text {
    overflow-y: auto;
    height: 205px;
  }

  #html-text::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 25px;
    background: rgba(39, 39, 39, 0.75);

  }

  #html-text::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #26262673;
    background: rgb(23, 167, 128);
  }

  #tag-grid {
    grid-area: tag;
    height: 445px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(39, 39, 39);
    position: relative;
  }

  #tag-grid-transparent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 445px;
    border-radius: 8px;
    background: rgba(49, 49, 49, 0.5);
  }

  #stack-tag-list-container {
    top: 10px;
    position: relative;
    background: #272727;
    height: 126px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
  }

  #stack-tag-list-container-transparent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 126px;
    border-radius: 8px;
    background: rgba(49, 49, 49, 0.5);
  }

  #stack-tag {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 550px;
    position: relative;
  }

  .tag-item {
    display: inline-block;
    vertical-align: top;
    width: 87px;
    height: 50px;
    background: #ffffff;
    border: 1px solid black;
    margin-top: 8px;
    border-radius: 8px;
  }

  .tag-item-text {
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    position: relative;
    top: 7px;
  }

  .button-next {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 7px;
    margin-left: 20px;
    width: 100px;
    height: 48px;
    font-size: 28px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    animation-name: pulseButtonColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .button-skip {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 7px;
    margin-left: 20px;
    width: 100px;
    height: 48px;
    font-size: 28px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  #suggestion {
    display: inline-block;
    font-size: 22px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    position: relative;
    top: 30px;
  }

  .answer {
    display: none;
    background: none;
    border: 1px solid white;
    border-radius: 7px;
    color: rgba(255, 255, 255);
    font-size: 24px;
    width: 80px;
    height: 40px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    transition: all 1s;
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    top: 28px;
  }

  #render-container {
    height: 890px;
  }
}

@media only screen and (max-width: 800px) {
  #push-button {
    position: absolute;
    top: 0px;
    left: 12px;
    width: 125px;
  }

  #pop-button {
    position: absolute;
    top: 0px;
    left: -95px;
    width: 125px;
  }

  #top-button {
    position: absolute;
    top: 0px;
    right: -90px;
    width: 125px;
  }

  #empty-button {
    position: absolute;
    top: 0px;
    right: 12px;
    width: 125px;
  }

  #stack-buttons {
    position: relative;
    top: 18px;
    width: 100%;
    height: 75px;
    margin: auto;
    text-align: center;
  }

  #stack-buttons-container {
    position: relative;
    top: 20px;
    width: 95%;
    height: 155px;
    background: #262626;
    margin: auto;
    border-radius: 8px;
  }

  #stack-buttons-container-transparent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 155px;
    border-radius: 8px;
    background: rgba(49, 49, 49, 0.5);
  }

  #stack-tag-container {
    position: absolute;
    top: 62px;
    width: 90%;
    height: 81%;
    background: #17a780;
    margin: auto;
    border: 10px solid rgb(24, 167, 128);
    left: 0;
    right: 0;
    border-radius: 6px;
  }

  #tag-grid {
    grid-area: tag;
    height: 395px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    border-bottom: none;
    background: rgb(39, 39, 39);
    position: relative;
  }

  #tag-grid-transparent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 395px;
    border-radius: 8px;
    background: rgba(49, 49, 49, 0.5);
  }

  #suggestion {
    display: inline-block;
    font-size: 20px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    position: relative;
    top: 34px;
  }

  .button-next {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 36px;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    animation-name: pulseButtonColour;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .button-skip {
    -webkit-appearance: none;
    border: 1px solid white;
    background: transparent;
    position: relative;
    bottom: 4px;
    margin-left: 20px;
    width: 80px;
    height: 36px;
    font-size: 22px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  .answer {
    display: none;
    background: none;
    border: 1px solid white;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    width: 80px;
    height: 33px;
    font-family: myFont, 'Arial Narrow Bold', sans-serif;
    transition: all 1s;
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    top: 30px;
  }

  #render-container {
    height: 840px;
  }
}